/************ GLOBAL STYLES **********/

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    line-height: 1.5;
}

h1 {
    font-size: 4.25em;
}

h2 {
    font-size: 3.1821em;
}

h3 {
    font-size: 2.3825em;
}

h4 {
    font-size: 1.7838em;
}

h5 {
    font-size: 1.3356em;
}

small {
    font-size: .7487em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-top: 0.5em;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* image scale with the size of its container */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* center and padding and set the general style */
.stylelv1,
article {
    margin: 0 auto;
    padding: 1em;
}

.stylelv2 {
    margin: 0 auto;
    padding: 0 0 1em 0;
}

/* link, visited, hover/focus, active , no underline, font size*/

a,
a:link,
a:visited {
    color: inherit;

}

a {
    text-decoration: none;
    font-size: 1.3356em;
}

/* background color of article */

article {
    background-color: #ffe6ac;
}

/* set padding bottom for all paragraphs */

p {
    padding: 1em 0 1em 0;
}

/************* HEADER *********************/

/*++++++++++ navigation bar ++++++++++*/
header nav {
    background-color: #222;
    color: #c78b07;
}

nav ul li {
    text-align: center;
    padding: 1em;
    font-size: 1.3356em;
}

/* logo portion */

.logo {
    width: 10%;

}

nav ul li:nth-child(1) {
    background-color: #c78b07;
    padding-left: 0;
}

/* hover over the nav */

nav ul li:hover,
nav ul li:focus {
    background-color: #c78b07;
    color: #222;
}

/* search bar */

.searchbar:hover,
.searchbar:focus {
    background-color: #222;
    color: #c78b07;
}

.searchbar {
    display: flex;
    width: 100%;
    padding: 0;
}

.searchbar form {
    width: 95%;
}

/* inside the form */

input {
    width: 100%;
    height: 3.5em;
    border: 1px solid #222;
}

input::placeholder {
    font-family: inherit;
    font-size: inherit;
}

/* glass */
.glass {
    border: 1px solid #c78b07;
    padding: 3px;
    width: 7%;
}

/*+++++++++++++ banner section ++++++++++++++++++*/

.banner {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0 3em 0;
}

.banner section {
    background-color: rgba(0, 0, 0, 0.6);
}

.banner h1,
.banner p {
    color: white;
}

h1 {
    padding-top: 0;
}

/* dressing the button */

.banner a {
    display: inline-block;
    background-color: #c78b07;
    padding: 1.5em;
}


/************* MAIN *********************/

/*+++++++++++++ About Us ++++++++++++++++++*/

#aboutus {
    background-color: #ffe6ac;
}

/*+++++++++++++ Our Services ++++++++++++++++++*/

.stylelv2 a {
    display: inline-block;
    background-color: #222;
    padding: 1.5em;
    color: white;
}

/*+++++++++++++ Our Vision ++++++++++++++++++*/

.visi {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-position: 40% 40%;
    color: white;
}

#vision a {
    display: inline-block;
    background-color: #222;
    padding: 1.5em;
    border: 1px solid #c78b07;
}

/*+++++++++++++ Our Team ++++++++++++++++++*/

h5 {
    border-bottom: 1px solid #c78b07;

}

#team article {
    margin-bottom: 1em;
}

/*+++++++++++++ Contact Us ++++++++++++++++++*/

/* form */

.form,
.hour {
    padding: 1em 0 1em 0;
}

.form label {
    display: block;
}

textarea {
    width: 100%;
    height: 200px;
}

button {
    background-color: #222;
    color: #c78b07;
    border: 1px solid #222;
    padding: 0.25em;
    font-size: inherit;
}

/* hours */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ffe6ac;
}

tr {
    height: 3em;
    border: 1px solid #222;
}

th,
td {
    border: 1px solid #222;
    vertical-align: middle;
}

td {
    padding-left: 1em;
}

/* location */

location {
    padding-top: 1em;
}

iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

/************* FOOTER *********************/

footer {
    background-color: #222;
    color: #c78b07;
}

footer a {
    font-size: 1em;
}



/****************************************
              DESKSTOP STYLES
****************************************/


@media screen and (min-width:760px) {

    /* global */

    html {
        font-size: 16px;
    }

    .stylelv1 {
        max-width: 1200px;
    }

    /* change size of h1 */

    h1 {
        font-size: 6em;
    }

    /* nav bar */

    nav ul {
        display: flex;
        padding: 1em;
        width: 100%;

    }

    nav ul li {
        padding: 1em;
        justify-self: center;
        align-self: center;
    }

    nav ul li:nth-child(1) {
        background-color: initial;
        padding: 0;
    }

    /* fix the logo size */
    .logo {
        width: 100px;
    }

    /* search bar area */
    .searchbar {
        display: flex;
        flex: 1 0 100px;
    }

    .glass {
        width: 100%;
        flex: 1 0 35px;
    }

    /* banner background */

    .banner {
        background-position: 10% 50%;
    }

    /* about us */

    .us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "pic content"
        ;
    }

    .us img {
        grid-area: pic;
        /* height: 100%; */
    }

    .us article {
        grid-area: content;
        padding-left: 1em;
    }

    /* our services */

    .ser {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "digital digital digital marketing marketing marketing"
            "video video web web print print"
        ;
        column-gap: 1em;
    }

    .digital {
        grid-area: digital;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }

    /* change the button of the services into full block */

    .ser a {
        display: block;
        text-align: center ;
    }

    /* our vision image background */

    .visi {
        background-size: cover;
    }

    /* remove the padding below the team info */

    #team article {
        margin-bottom: 0;
    }

    /* grid the our team */

    .gridteam {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "johnpic john"
            "bob bobpic"
        ;
    }

    .johnpic {
        grid-area: johnpic;
    }

    .john {
        grid-area: john;
    }

    .bobpic {
        grid-area: bobpic;
    }

    .bob {
        grid-area: bob;
    }

    /* contact us grid */

    .contactgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "form location"
            "hour hour"
        ;
        column-gap: 1em;
    }

    .form {
        grid-area: form;
    }

    .location {
        grid-area: location;
    }

    .hour {
        grid-area: hour;
    }


}